
.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a {
  background-color: #b3a284;
  color: black;
  border: 2px solid black;
}
.topnav a:hover {
  background-color: #b3a284;
  color: black;
  border: 2px solid black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #b3a284;
  color: black;
  border: 2px solid black;
}

body {
  background-color: #b3a284;
  font-size: 18px;
  font-family: verdana;
  float: center;
  text-align: center;
}
h3 {
  padding-right:250px;
  padding-left : 250px;
  font-size: 18px;
  font-family: verdana;
  float: center;
  text-align: center;
}
.button {
  border: 2px solid black;
  background-color: #d7c4a3;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #ad9e85;
  color: white;
}